body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: "VT323", monospace;
}

body,
.snake {
  background-color: #788374;
}

#game-board {
  border-radius: 100px;
  display: grid;
  grid-template-columns: repeat(20, 20px);
  grid-template-rows: repeat(20, 20px);
  margin: 5px;
}

.game-border-1 {
  border: #aa644d solid 10px;
  border-radius: 30px;
  box-shadow: inset 0 0 0 10px #aa644d;
}
.game-border-2 {
  border: #b96d54 solid 8px;
  border-radius: 26px;
  box-shadow: inset 0 0 0 10px #b96d54;
}
.game-border-3 {
  border: #bd6649 solid 30px;
  border-radius: 20px;
  box-shadow: inset 0 0 0 5px #bd6649;
}

#instruction-text {
  position: absolute;
  top: 60%;
  color: #333;
  width: 300px;
  text-align: center;
  text-transform: capitalize;
  padding: 30px;
  margin: 0;
}

.scores {
  display: flex;
  justify-content: space-between;
}

#score {
  color: #bd6649;
}

#score,
#highScore {
  font-size: 40px;
  font-weight: bolder;
  margin: 10px 0;
}

#highScore {
  color: #d8ddca;
  display: none;
}

.game-border-3,
#logo {
  background-color: #c06a4e;
}

.snake {
  border: #72816c 1px dotted;
}

.food {
  background-color: #f5e9bf;
  border: rgb(183, 182, 182) 9bf 5px solid;
}

#game-title {
  position: absolute;
  top: 35%;
  color: #333;
  width: 300px;
  text-align: center;
  text-transform: capitalize;
}

#logo {
  position: absolute;
  width: 100px;
  height: 100px;
}

.end-game-message {
  display: none;
  background-color: #bd6649;
  position: absolute;
  width: 300px;
  font-size: 20px;
  padding: 10px;
}
